parameters:
	password: 1234
	useHttps: true

	ssh:
		server: localhost
		port: 22
		username: root
		publicCertificate: %appDir%/certificates/id_rsa.pub
		privateCertificate: %appDir%/certificates/id_rsa.key

	rsaDir: /etc/openvpn/easy-rsa

	email:
		from: 'Your Name <vpn@server.tdl>'
		subject: 'VPN configuration'
		
nette:

services:

factories:
