{block content}

{form form, class => 'form-horizontal create'}
	<div class="alert alert-error" n:foreach="$form->errors as $error">{$error}</div>

	<div class="control-group">
		{label password, class => 'control-label' /}
		<div class="controls">
			{input password}
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			{input login, class => 'btn'}
		</div>
	</div>
{/form}