client
dev tun
proto udp
remote 37.157.198.138 1194

resolv-retry infinite
nobind
persist-key
persist-tun

ca ca.crt
cert {$userName}.crt
key {$userName}.key
ns-cert-type server

comp-lzo
verb 5
ping 10
ping-restart 60

route-method exe
route-delay 2